<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="lt.psk.tools.mybatis.model.Client" alias="Client"/>
        <typeAlias type="lt.psk.tools.mybatis.model.Shop" alias="Shop"/>
        <typeAlias type="lt.psk.tools.mybatis.model.Tool" alias="Tool"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="ToolsDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/ClientMapper.xml"/>
        <mapper resource="mybatis.xml/ShopMapper.xml"/>
        <mapper resource="mybatis.xml/ToolMapper.xml"/>
    </mappers>
</configuration>
